body, p, div, span, a, img, strong {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 14px;
}
.container-fluid {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(./../images/sky0.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}


/*顶部*/

.header {
    height: 70px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
}

.header-left {
    flex: 1;
}

.header-left img{
       width: 20px;
       height: auto;
        display: none;
        padding-bottom: 15px;
        padding-left: 15px;
}
.header-left ul li {
    list-style: none;
    float: left;
    color: #fff;
    margin-left: 15px;
    padding-bottom: 10px;
    cursor: pointer;
}

.header-left ul li a {
    text-decoration: none;
    color: #fff;
}

.on {
    border-bottom: 1px solid red;
}

.header-right {
    flex: 1;
}

.header-right ul li {
    float: right;
    margin-right: 15px;
    list-style: none;
    color: #fff;
    cursor: pointer;
}

.header-right ul li img {
    width: 20px;
    height: auto;
}

.header-right ul li img:nth-child(0) {
    border-radius: 100%;
}


/*天气显示*/

.weatherBox {
    position: absolute;
    right: 20px;
    top: 50px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 15px;
    color: #fff;
}

.weatherBox_one {
    padding-bottom: 10px;
    border-bottom: 1px dashed gray;
}

.weatherBox_one p {
    margin-top: 10px;
}

.weatherBox_ul {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px dashed gray;
}

.weatherBox_ul_left span:nth-child(1) {
    margin-right: 25px;
}


/*底部*/

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    box-sizing: border-box;
    padding-right: 15px;
}

.footer_container {
    float: right;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    color: #fff;
}

.footer_container_top ul li {
    float: right;
    margin-left: 45px;
    list-style: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

.footer_container_top ul li img {
    width: 30px;
    height: auto;
}

.footer_container_bottom {
    margin-top: 30px;
}

.footer_container_bottom p {
    float: right;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}


/*滚动条无限滚动*/

@keyframes rowup {
    0% {
        -webkit-transform: translate3d(0, 200px, 0);
        transform: translate3d(0, 200px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -280px, 0);
        transform: translate3d(0, -280px, 0);
        display: none;
    }
}

.home {
    width: 100%;
    text-align: center;
    opacity: 0.8;
    height: 200px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.home .rowup {
    -webkit-animation: 15s rowup linear infinite normal;
    animation: 15s rowup linear infinite normal;
    position: relative;
    margin-top: 20px;
}

.rowup:hover{
    animation-play-state:paused;
    -webkit-animation-play-state:paused;
}
.item{
    margin: 10px 0;
}
.item a{
    text-decoration: none;
    color: #fff;
}
/*状态css*/
.status{
    width: 50%;
    height: 80%;
    margin: 0 auto;
    color: #fff;
    overflow-y: auto;
    position: relative;
    padding-right: 100px;
}
.status li{
    list-style: none;
}
.status h1{
    margin-bottom: 15px;
}
.status_time{
    font-size: 12px;
    margin-bottom: 15px;
}
.status p{
    padding-bottom: 15px;
    border-bottom: 1px dashed #fff;
}
.status_img{
    width: 50%;
    height: 100%;
    margin-top: 15px;
    display: inline-block;
}
.status_img img{
    width: 100%;
    height: 100%;
    float: left;
    margin-right: 2%;
    border-radius: 5px;
}
.breathImg{
      animation-name: breath;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
}
/*滚动条设置*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 4px;  
    height: 5px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 3px;  
    background-color: #555;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 3px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #F5F5F5;  
}  
/*设置这块*/
.setting{
    width: 80%;
    height: 200px;
    margin: -100px auto;
    position: relative;
}
.setting ul li{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 15px 0;
    font-size: 18spx;
}
.setting ul li input{    
    width: 40px;
    border: 0;
    text-align: center;
    background: rgba(0,0,0,0);
    color: #fff;
}
/*音乐部分*/
.musicTags ul{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    position: fixed;
}
.musicTags ul li{
    list-style: none;
    padding: 5px 15px;
    text-align: center;
    margin-right: 15px;
    border: 1px solid #fff;
    cursor: pointer;
}
.musicList ul{    
    width: 50%;
    position: fixed;    
    margin-top: 46px;
}
.musicList ul li{
    list-style: none;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    padding: 15px;
    border-bottom: 1px solid hsla(0,0%,88%,.8);
}
.musicList ul li span:nth-child(1){
    text-align: center;
    flex:0.5;
}
.musicList ul li span:nth-child(2){
    flex:3;
}
.musicList ul li span:nth-child(3){
    text-align: center;
    flex:1;
}
.musicList ul li span:nth-child(4){
    text-align: center;
    flex:1;
}
.musicList ul li span:nth-child(5){
    text-align: center;
    flex:1;
}
.musicLists{
    margin-top: 100px;    
    height: 88%;
    overflow-y: auto;
}
.musicLists ul li{
    list-style: none;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    padding: 15px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
.musicLists ul li span:nth-child(1){
    text-align: center;
    flex:0.5;
}
.musicLists ul li span:nth-child(2){
    flex:3;
}
.musicLists ul li span:nth-child(3){
    text-align: center;
    flex:1;
}
.musicLists ul li span:nth-child(4){
    text-align: center;
    flex:1;
}
.musicLists ul li span:nth-child(5){
    text-align: center;
    flex:1;
}
.playing{
    width: 50%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    position: fixed;
    align-items: center;    
    margin-top: 10px;
    z-index: 999;
}
.playLeft{
    flex:2;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
}
.playLeft img{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    opacity: 0.8;
    cursor: pointer;
}
.playRight{
    flex:6;
}
.playMessage{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}
.playTime{
    border-bottom: 1px solid #cccccc;
    position: relative;
}
.playTime span{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: red;
    position: absolute;
    top: -5px;
}



/*媒体查询*/
@media screen and (max-width:480px){
    .footer_container_bottom p{
        font-size: 12px;
    }
    .header-left ul{
        display: none;
        width: 44px;
    }
    .header-left img{
        display: block;
    }
    .header-left{
        height: 300px;
        margin-top: 260px;
    }
    .header-left ul li{
        float: none;
        margin-top: 5px;
    }
    .status{
        width: 70%;
        height: 60%;
        padding-right: 0;
    }
    .musicTags{
        display: none;
    }
    .musicList{
        display: none;
    }
    .musicLists{
        margin-top: 0;
    }
    .playRight{
        display: none;
    }
    .musicLists ul li span:nth-child(2){
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .musicLists ul li span:nth-child(3){
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .musicLists ul li span:nth-child(4){
        display: none;
    }
    .musicLists ul li span:nth-child(5){
        display: none;
    }
}

@keyframes breath {
  0% {
      position:relative;
      top:0;
      width:20px;
      height:20px;
      border-radius:10px;
    box-shadow: 0 0 0px 	#000000;
  }

  20% {
      position:relative;
      top:1px;
      width:19px;
      height:19px;
      border-radius:9.5px;
    box-shadow: 0 0 1px 	#000000;
  }

  40% {
      position:relative;
      top:2px;
      width:18px;
      height:18px;
      border-radius:9px;
    box-shadow: 0 0 2px 	#000000;
  }

  60% {
      position:relative;
      top:3px;
      width:17px;
      height:17px;
      border-radius:8.5px;
    box-shadow: 0 0 3px 	#000000;
  }

  80% {
      position:relative;
      top:4px;
      width:16px;
      height:16px;
      border-radius:8px;
    box-shadow: 0 0 4px 	#000000;
  }

  100% {
      position:relative;
      top:5px;
      width:15px;
      height:15px;
      border-radius:7.5px;
    box-shadow: 0 0 5px 	#000000;
  }
}

@-webkit-keyframes breath {
  0% {
      position:relative;
      top:0;
      width:20px;
      height:20px;
      border-radius:10px;
    box-shadow: 0 0 0px 	#000000;
  }

  20% {
      position:relative;
      top:1px;
      width:19px;
      height:19px;
      border-radius:9.5px;
    box-shadow: 0 0 1px 	#000000;
  }

  40% {
      position:relative;
      top:2px;
      width:18px;
      height:18px;
      border-radius:9px;
    box-shadow: 0 0 2px 	#000000;
  }

  60% {
      position:relative;
      top:3px;
      width:17px;
      height:17px;
      border-radius:8.5px;
    box-shadow: 0 0 3px 	#000000;
  }

  80% {
      position:relative;
      top:4px;
      width:16px;
      height:16px;
      border-radius:8px;
    box-shadow: 0 0 4px 	#000000;
  }

  100% {
      position:relative;
      top:5px;
      width:15px;
      height:15px;
      border-radius:7.5px;
    box-shadow: 0 0 5px 	#000000;
  }
}
